[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = hardknott
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = hardknott
[submodule "layers/bitbake"]
	path = layers/bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = 1.50
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = hardknott
